@page "/"
@rendermode InteractiveServer

<PageTitle>ForTheKing</PageTitle>

<StyleSheet />

<div class="board" style="--size: @ForTheKing.GameModel.MAPLENGTH;">
	@for (int i = 0; i < ForTheKing.GameModel.MAPLENGTH; ++i)
	{
		for (int j = 0; j < ForTheKing.GameModel.MAPLENGTH; ++j)
		{
			int x = j, y = i;
			<Cell X="@x" Y="@y"
                Field="@_viewModel.Fields[j,i]"
                OnClick="(x, y) => Buy(x, y)"/>
		}
	}
</div>

<div class="menu">
	<button @onclick=NewGame>New Game</button>
	<p onchange="Timer">@Timer</p>
	<p onchange="Gold">@Gold</p>
</div>

